.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.textRed {
  color: red;
  font-weight: bold;
}

.textGreen {
  color: green;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
}
